/* styles in src/style directory are applied to the whole page */
body {
}

h1 {

}

header {

}

button {
  font-size: 18px;
  cursor: pointer;
}

section.grid {
  width: 200px;
}

section.grid .row {
  display: flex;
}

section.grid .row button {
  flex: 1;
}

main {
}

footer {
}
