/* NOTE: typically I would use scss and store color and size values in variables, as well as css modules, */
/* especially for larger projects. I also tend to avoid targeting elements directly with my styles, button */
/* with a narrow-focus SPA like this one, it's unlikely to cause any problems. */

body {
  color: #505050;
}

.pure-button {
  font-size: 22px;
  width: 60px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

h1 {
  font-size: 24px;
}

.container {
  height: 300px;
  width: 280px;
}

header {
  display: flex;
}

header h2 {
  background-color: #fff5c3;
  border: solid lightgrey 1px;
  flex: 1;
  font-size: 34px;
  margin: 0 13px 0 0;
  padding: 6px 9px;
  text-align: right;
}

header .pure-button {
  background-color: white;
  border: solid lightgrey 1px;
}

.grid .row {
  display: flex;
  justify-content: space-between;
}

.grid .row button {
  flex: 0 1 60px;
  margin-top: 10px;
}

.equals {
  background-color: #8a8a8a;
  color: white;
}

.operator {
  background-color: #cecece;
}
